/bin/
/.idea/
/src/Modeloa/Sudoku.java
/res/Diagramak/Sudoku.vpp.bak_*
/res/Diagramak/Sudoku.vpp.bak_009d
/res/Diagramak/Sudoku.vpp.bak_008d
/res/Diagramak/Sudoku.vpp.bak_007d
/res/Diagramak/Sudoku.vpp.bak_006d
/res/Diagramak/Sudoku.vpp.bak_005d
/res/Diagramak/Sudoku.vpp.bak_004d
/res/Diagramak/Sudoku.vpp.bak_003d
/res/Diagramak/Sudoku.vpp.bak_002d
/res/Diagramak/Sudoku.vpp.bak_001d
/res/Diagramak/Sudoku.vpp.bak_000f
