/bin
/.idea/workspace.xml
**/.idea/tasks.xml
/out
/Diagramak/Sudoku.vpp.*
/Diagramak/proba.vpp.*
/Diagramak/SEKUENTZIA_DIAGRAMA.vpp.*
/Diagramak/SEKUENTZIA_DIAGRAMA_AMAITUTA.vpp.*
/SEKUENTZIA_DIAGRAMA_AMAITUTA.vpp.*
/Diagramak/.Sudoku.vpp.lck
/log/*.log
/log/*.log.lck
ranking.txt